{% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'datainsights:home' %}">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'datainsights:insights' %}">Insights</a>
        {% if pred %}
            <a class="nav-link" href="{% url 'datainsights:forecast' %}" >Forecast</a>
        {% endif %}
        <a class="nav-link" href="{% url 'datainsights:export_page' %}">Selected Export</a>
      </div>
    </div>
  </div>
</nav> {% endcomment %}
        <div style='padding-top:20px;'>
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none text-white">
                  <span class="fs-5 d-none d-sm-inline">Data Insight Board</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="{% url 'datainsights:home' %}" class="nav-link align-middle px-0 text-white">
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'datainsights:insights' %}" class="nav-link px-0 align-middle text-white">
                        <i class="fas fa-chart-line fa-lg"></i> <span class="ms-1 d-none d-sm-inline">Insights</span></a>
                  </li>
                  {% if pred %}
                  <li>
                    <a href="{% url 'datainsights:forecast' %}" class="nav-link px-0 align-middle text-white">
                      <i class="fa fa-hourglass-start fa-lg" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Forecast</span></a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'datainsights:export_page' %}" class="nav-link px-0 align-middle text-white">
                      <i class="fa fa-download" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Export Selected</span></a>
                  </li>
                  
                </ul>
          </div>
        </div>
      